:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  color:black;
  border-radius: 10px;
  background-color:#669999;
}

.btn:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.card{
  width: 180px;

}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: 5px 5px 5px 5px #8c8c8c;
}

.main-nav a:hover {
  background: darkgrey;
  color: white;
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(https://image.freepik.com/photos-gratuite/personne-ecrire-ordinateur-portable_1232-639.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: 5px 5px 5px 5px #8c8c8c;
}
